<ion-header>
  <img Logo-img src="../../assets/imgs/logo-netflix.png" />
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 padding-bottom >Sign In</h1>
    <ion-item  margin-bottom  class="Login-input">
      <ion-input
        type="email"
        placeholder="Email or phone number"
        formControlName="user"
      >
      </ion-input>
    </ion-item>
    <ion-item  text-wrap background *ngIf="!form.controls.user.valid && submitAttempt ">
      <p  p-style >Please enter a valid email address or phone number</p>
    </ion-item>
    <ion-item class="Login-input">
      <ion-input  
      type="password" 
      placeholder="Password" 
      formControlName="password"> 
    </ion-input >
    </ion-item>
    <ion-item text-wrap background *ngIf="!form.controls.password.valid && submitAttempt">
      <p  p-style> Your password must contain between 4 and 60 characters</p>
    </ion-item>
    <ion-row>
      <button  type="submit" padding-vertical margin-top color="danger" text-capitalize="false" ion-button block>
        Sign in
      </button>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-row Line>
          <ion-checkbox ></ion-checkbox>
          <p P-check Color-gray>Remember me</p>
        </ion-row>
        <ion-col Check-left>
          <a Color-gray>Need help?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <button no-padding color="ligth"  text-capitalize="false" clear ion-button icon-start>
    <ion-icon  name="logo-facebook"></ion-icon>
    Login with Facebook
  </button>

  <p Color-gray>New to Netflix? <a Color-white>Sign up now.</a></p>

  <p Color-gray>
    This page is protected by Google reCAPTCHA to ensure you're not a bout.
    <a>Learn more.</a>
  </p>
</ion-content>
