page-login {
  [Logo-img] {
    width: 73px;
    height: 49px;
    padding-left: 7px;
  }

  [h1-title]{
      padding-bottom: 9px;
  }

  [Line] {
    display: flex;
    align-items: center;
  }

  [Check-left] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  [Icon-facebook] {
    color: rgb(61, 89, 155);
    background-color: white;
    font-size: 23px;
  }

  [Font-size] {
    font-size: 12px;
    color: #e07904;
    background: transparent;
    text-align: left;
  }
  [Color-gray] {
    color: rgb(140, 140, 140);
  }

  [P-check] {
    padding-left: 5px;
  }
  [Color-white] {
    color: white;
  }

  [Color-red-login] {
    background-color: rgb(229, 9, 20);
    padding: 21px;
  }
  .Login-input {
    border-radius: 4px;
    border-bottom: 1px solid #e07904;
  }
  [background]{
    background: transparent;
  }
  .item-md.item-block .item-inner {
    border: none;
  }

  .grid{
      padding: 0px;
  }
  .col{
    padding: 0px;
  }

 [Btn-facebook]{
    padding: 0px;
 }
}
