page-profilemanagement {

    [flexcenter] {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [padding] {
        padding: 5px;
    }
    ion-header {
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
            position: absolute;
        }
        div{
            width: 100%;
            margin-right: 4vw;
            padding-bottom: 10px;
            ion-icon {
                font-size: 150%;
                color: #c4c4c4;
            }
        }
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    ion-row {
        .col-profile {
            flex-direction: column;
            .image-profile {
                width: 34vw;
                height: 35vw;
                position: relative;
                .ion-show {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .ion-hidden {
                    display: none;
                }
                ion-icon {
                    position: absolute;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    width: 100%;
                    height: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            ion-icon {
                font-size: 10vh;
            }
        }
    }
    .ion-show {
        display: block;
    }
    .ion-hidden {
        display: none;
    }
}
