page-home {
  [image-size] {
    width: 45px;
    height: 40px;
  }
  .imgPrevias{
    width: 115px;
    height: 107px;
    border-radius: 90%;
    border: solid 2px white;
  }
  [btn-detail] {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    color: #fff;
    text-align: center;
    position: relative;
  }
  [padding-h]{
    padding-left: 40px;
    padding-right: 40px;
  }
  [ion-button] {
    background-color: #fff;
    color: #222;
  }

   [button-conf] {
    background-color: #3d3a3a !important;
    color: #fff !important;
  }
  [flex-direction-row] {
    display: flex;
    flex-direction: row;
  }
  [header-position] {
    position: absolute;
    top:10px;
    z-index: 5;
    width: 100%;
    height: 50px;
  }
  [decoration]{
    text-decoration: none;
    color: white;
  
  }
  [position]{
    position: relative;
    left: 180px;
    bottom: 124px;
    height: 42px;
    width: 45px;
    border: 1.5px solid white;
    border-radius: 100px;
  }

  [padding-left-m]{
    padding-left: 5px;
  }
  [title-size] {
    width: 30%;
  }
  [overflow-x] {
    overflow: scroll;
    overflow-y: hidden;
  }
  // li:first-of-type {
  //   list-style-type: none;
  // }

  .toolbar-title-md {
    font-weight: 100;
    font-size: 15px;
  }
  .toolbar-title-ios {
    font-weight: 100;
    font-size: 15px;
  }
  [size]{
    font-size: 10px;
  }
}
