<header>
  <nav flex-direction-row justify-content-around header>
    <img
      src="../../assets/imgs/logo-netflix-2.png"
      image-size
      align-self-start
    />
    <ion-title (click)="goSeries()" text-center>Séries</ion-title>
    <ion-title (click)="goMovie()" text-center>Filmes</ion-title>
    <ion-title (click)="goMyList()" text-center>Minha lista</ion-title>
  </nav>
</header>

<ion-content justify-content-arround>
  
<div img-center >
  <img size [src]="popularMovies.length ? 'https://image.tmdb.org/t/p/w780'+popularMovies[14].poster_path : ''"
    class="img-banner" alt="serie" />
  </div>
  <ion-row nowrap margin-bottom justify-content-center>
    <p nowrap no-margin no-padding tex-justify>
      Alto astral • Crianças • Série • Crescer não é facil • irmãos
    </p>
  </ion-row>
  <ion-row justify-content-center>
    <ion-fab btn-detail>
      <ion-icon (click)="addList(popularMovies[14])" [name]="popularMovies[14]?.add_myList ? 'checkmark' : 'add'">
      </ion-icon>
      Minha lista
    </ion-fab>
    <button margin-left margin-right text-capitalize="false" ion-button icon-start>
      <ion-icon name="play" color="dark"></ion-icon>
      Assistir
    </button>
    <ion-fab btn-detail>
      <ion-icon name="ios-alert-outline"></ion-icon>
      Saiba mais
    </ion-fab>
  </ion-row>
  <h3 padding>Prévias</h3>
  <ion-row nowrap overflow-x>
    <ion-col no-margin col-5 *ngFor="let movie of rateMovies">
      <img [src]="'https://image.tmdb.org/t/p/w154'+movie?.poster_path" class="imgPrevias"
        (click)="goMovieDetail(movie)" />
    </ion-col>
  </ion-row>
  <h3 no-padding>Populares</h3>
  <ion-row nowrap overflow-x>
    <ion-col no-margin col-3 *ngFor="let movie of popularMovies">
      <card-movie [movie]="movie"></card-movie>
    </ion-col>
  </ion-row>

  <h3 no-padding>Assistidos recente</h3>
  <ion-row nowrap overflow-x>
    <ion-col no-margin col-3 *ngFor="let movie of nowPlayMovies">
      <card-movie [movie]="movie"></card-movie>
    </ion-col>
  </ion-row>
  <h3 no-padding>Top 10</h3>
  <ion-row nowrap overflow-x>
    <ion-col  no-margin col-3 *ngFor="let movie of rateMovies">
      <card-movie [movie]="movie"></card-movie>
    </ion-col>
  </ion-row>
  <h3 no-padding>Proximos</h3>
  <ion-row nowrap overflow-x>
    <ion-col no-margin col-3 *ngFor="let movie of commingSoonMovies">
      <card-movie [movie]="movie"></card-movie>
    </ion-col>
  </ion-row>
  <h3 no-padding>Já disponivel para coleção</h3>
  <ion-row justify-content-center align-items-center>
    <img [src]="nowPlayMovies.length ? 'https://image.tmdb.org/t/p/original'+nowPlayMovies[2].backdrop_path : ''" />

    <button text-capitalize="false" ion-button icon-start padding-h>
      <ion-icon name="play"></ion-icon>
      Assistir
    </button>
    <button
      margin-left
      text-capitalize="false"
      ion-button
      button-conf
      icon-start
      padding-h
      (click)="addList(nowPlayMovies[2])"
    >
      <ion-icon [name]="nowPlayMovies[2]?.add_myList? 'checkmark' : 'add'">
      </ion-icon>
      Minha lista
    </button>
  </ion-row>
</ion-content>

