page-search {
    .searchbar-md .searchbar-input {
        background-color: black;
        color: white;
        font-size: 15px;
    }
    .searchbar-ios .searchbar-input {
        background-color: black;
        color: white;
        font-size: 15px;
    }

}