<!-- Generated template for the MainHeaderComponent component -->
<div background-image>
  <header>
  <img src="../../assets//imgs/logo-netflix-2.png" Image-size>
  <a href="#" >Séries</a>
  <a href="#" color="light">Filmes</a>
  <a href="#" color="light">Minha lista</a>
</header>
    <ion-row justify-content-between>
     <ion-col flex-direction-row>
        <p >sadawd</p>
        <p >sadawd</p>
        <p >sadawd</p>
        <p >sadawd</p>
        <p >sadawd</p>
      </ion-col> 
    </ion-row>
 
</div>

